.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__product {
  display: flex;
  padding: 20px;
}

.checkout__productImage {
  object-fit: contain;
  height: 100px;
  margin-right: 15px;
  width: 200px;
  height: 180px;
}

.product__rating {
  display: flex;
}

.checkout__productTitle {
}
.checkout__productPrice {
}

.checkout__productInfo > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
